<div id="dashboard">
  <h3>
    Welcome to my website {{ username }}!
  </h3>
  <p>
    I am thrilled to have you here. My name is Kenneth, and I am a seasoned front-end developer with six years of experience. From crafting visually stunning user interfaces to creating seamless and intuitive user experiences, I am passionate about bringing ideas to life through code.
  </p>
  <p>
    Throughout my journey as a front-end developer, I have had the privilege of working on a diverse range of projects, collaborating with talented teams and clients to deliver exceptional results. I believe that the front-end is the face of any digital product, and I take pride in creating designs that not only captivate users but also enhance their interactions.
  </p>
  <p>
    In an ever-evolving digital landscape, I constantly stay up-to-date with the latest industry trends and best practices. This allows me to employ cutting-edge technologies and frameworks to build responsive and accessible websites that perform flawlessly across different devices and browsers.
  </p>
  <p>
    Beyond my technical expertise, I am a strong believer in the power of effective communication and collaboration. I value building meaningful relationships with my clients, understanding their unique goals, and translating them into compelling digital experiences.
  </p>
  <p>
    Thank you for visiting my website, and I look forward to connecting with you to discuss your next project.
  </p>
  <!-- <div class="row">
    <div class="offset-4 col-8">
      <p>
        Throughout my journey as a front-end developer, I have had the privilege of working on a diverse range of projects, collaborating with talented teams and clients to deliver exceptional results. I believe that the front-end is the face of any digital product, and I take pride in creating designs that not only captivate users but also enhance their interactions.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="offset-4 col-8">
      <p>
        Thank you for visiting my website, and I look forward to connecting with you to discuss your next project.
      </p>
    </div>
  </div> -->
</div>